* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 376px */
@media screen and (max-width: 376px) {

}
/* 1440px */
@media screen and (max-width: 1440px) {

}
/* K starts here */

.hearder {
  
}
/* 376px */
@media screen and (max-width: 376px) {

}
/* 1440px */
@media screen and (max-width: 1440px) {

}




/* Kaho starts here */





/* K starts here */
.footer/* 376px */
@media screen and (max-width: 376px) {

}
/* 1440px */
@media screen and (max-width: 1440px) {

}